#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: absolute;
  top: 0vh;
  left: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
  color:  #FFE6AF
}
.subheader {
  position: absolute;
  top: 5vh;
  left: 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #FFE6AF
}

.MONGO {
  position: absolute;
  top: 0vh;
  right: 7.5vw;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  color: #FFE6AF
}

.inputJournal {
  display: flex;
  
}
.entry-list {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 7.5vh;
  right: 10vw;
  font-size: 1rem;
  margin-bottom: 10rem;
  color: #FFE6AF
}

.youtube
{
  margin-top: 10vh;
}

.video {
  width: 50vw;
  height: 50vh;
  border: none;
}
