#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: absolute;
  top: 0vh;
  left: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
  color:  #FFE6AF
}
.subheader {
  position: absolute;
  top: 5vh;
  left: 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #FFE6AF
}

.MONGO {
  position: absolute;
  top: 0vh;
  right: 7.5vw;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #FFE6AF
}