#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.color-picker-wrapper {
  --rfc-saturation-width: clamp(120px, 20vw, 280px);
  --rfc-saturation-height: clamp(120px, 20vw, 280px);

  --rfc-hue-height: clamp(8px, 1.5vw, 16px);

  --rfc-pointer-size: clamp(12px, 1.2vw, 18px);

  width: clamp(120px, 20vw, 280px);
}

.header {
  position: fluid;
  top: 0vh;
  left: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
  /* color:  #FFE6AF */
}
.subheader {
  position: fluid;
  top: 5vh;
  left: 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  /* color: #FFE6AF */
}

.MONGO {
  position: fluid;
  top: 0vh;
  right: 7.5vw;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  /* color: #FFE6AF */
}

.inputJournal {
  overflow-y: scroll; 
    height:20vh;
    width: 40vw;
  
}



.Lyrics {
  overflow-y: scroll; 
    height:20vh;
    width: 40vw;
  
}
.getEntrie{
  position: relative;
}
.entry-list {
  list-style-type: none;
  overflow-y: scroll; 
  max-height:90vh;
  padding: 0;
  position: fluid;
  top: 7.5vh;
  right: 0vw;
  font-size: 1rem;
  margin-bottom: 10rem;
  width: 28vw;
  /* color: #FFE6AF */
  
}
.yourComponent{
  position: fluid;
  top: 5vh;
  left: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.journaling
{
  display:flex;
  overflow-y: auto;
  max-height: 20vh;
  
}

.youtube
{
  margin-top: 10vh;
}

.video {
  position: fluid;
  top: 50vh;
  left: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 20vw;
  height: 40vh;
  border: none;
}

.ahhhh {
  margin-top: 2vh;
  width: 28vw;
  height: 30vh;
  align-items: center;
  border: none;
}
.lyricsContainer
{
  

    overflow-y: scroll; 
    height:25vh;
}

.form
{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.lyricsAHHH{
  overflow-y: scroll;
  overflow-x: hidden;

  height: 20vh;
  width: 28vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  
  

}