#root {
  width:100%;
  
}

.everything
{
  width: 100%;
}

.setNames {  


  display: flex;
  align-items: flex-start;

  justify-content: space-between;
  font-size: clamp(4px, 10px, 10px);
  text-decoration: underline;
  margin-right: clamp(1rem, 10vw, 10rem);

}



.inputJournal {
  overflow-y: scroll; 
    height:20vh;
    width: 40vw;
  
}



.Lyrics {
  overflow-y: scroll; 
    height:20vh;
    width: 40vw;
  
}

.combine-component{
  display: flex;
  align-items: flex-start;
  gap: 5vw;
  
}
.entry-list {
  list-style-type: none;
  overflow-y: scroll; 
  max-height:90vh;

  padding: 0;
  top: 13vh;
  right: 0vw;
  font-size: 1.25rem;
  margin-bottom: 11rem;
  width: 35vw;
  
}

.react-colorful {
  margin-top: 0vh;
  margin-left: 0vw;
  max-width: 20vw;
  width: auto;
}
.journaling
{
  display:center;
  overflow-y: auto;
  max-height: 20vh;
  
}

.youtube
{
  margin-top: 10vh;
}

.video {
  position: absolute;
  top: 50vh;
  left: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 20vw;
  height: 20vh;
  border: none;
}

.ahhhh {
  margin-top: 2vh;
  width: 28vw;
  height: 30vh;
  align-items: center;
  border: none;
}
.lyricsContainer
{
  

    overflow-y: scroll; 
    height:25vh;
}

.form {
  display: flex;           
  flex-direction: column;  
  max-width: 40vw;         
  width: 100%;             
  box-sizing: border-box
}


.lyricsAHHH{
  overflow-y: scroll;
  overflow-x: hidden;

  height: 20vh;
  width: 28vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  
  

}
.subheader {
  position: relative;
  max-width: 35vw;
  margin: 5vh 0 2rem 0;
  text-align: left;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

